<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="CsvHelper" version="2.10.0" targetFramework="net45" />
  <package id="Microsoft.TeamFoundationAPI.12" version="1.0.0" targetFramework="net45" />
  <package id="morelinq" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.1.2" targetFramework="net45" />
  <package id="NLog.Config" version="4.1.2" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net45" />
  <package id="Zoltu.Versioning" version="1.2.18.0" targetFramework="net45" developmentDependency="true" />
</packages>