<?xml version="1.0" encoding="UTF-8"?>

<?define VERSION=!(bind.FileVersion.TfsAdminDashboardConsole.exe)?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product 
    Id="*" 
    Name="TfsAdminDashboardConsole.Setup" 
    Language="1033" 
    Version="$(var.VERSION)" 
    Manufacturer="Vinzz" 
    UpgradeCode="ee499bf3-5dab-43c1-af1b-18a0e1b9e68a">
    
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Upgrade Id="ee499bf3-5dab-43c1-af1b-18a0e1b9e68a">
      <UpgradeVersion OnlyDetect="yes" Minimum="0.1.0.0" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Maximum="9.9.9.9" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <!-- Embed the cab in the msi-->
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="TfsAdminDashboardConsole.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TfsAdminDashboardConsole.Setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="DF306401-E083-4F6F-9B59-80563ECA8282">
        <File Id="TfsAdminDashboardConsole.exe"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TfsAdminDashboardConsole.exe"/>
        <File Id="TFSDataService.pdb"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TFSDataService.pdb"/>
        <File Id="CommandLine.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\CommandLine.dll"/>
        <File Id="CsvHelper.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\CsvHelper.dll"/>
       
        <File Id="MoreLinq.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\MoreLinq.dll"/>
        <File Id="Newtonsoft.Json.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\Newtonsoft.Json.dll"/>
        <File Id="NLog.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\NLog.dll"/>
        <File Id="Renci.SshNet.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\Renci.SshNet.dll"/>
        <File Id="System.IdentityModel.Tokens.Jwt.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\System.IdentityModel.Tokens.Jwt.dll"/>
        <File Id="System.Net.Http.Formatting.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\System.Net.Http.Formatting.dll"/>
        <File Id="System.Web.Http.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\System.Web.Http.dll"/>
        <File Id="TFSAdminDashboard.DataAccess.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TFSAdminDashboard.DataAccess.dll"/>
        <File Id="TFSAdminDashboard.DTO.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TFSAdminDashboard.DTO.dll"/>
        <File Id="TFSDataService.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TFSDataService.dll"/>
        <File Id="TfsAdminDashboardConsole.exe.config"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TfsAdminDashboardConsole.exe.config"/>
        <File Id="CsvHelper.pdb"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\CsvHelper.pdb"/>
        <File Id="TFSAdminDashboard.DataAccess.pdb"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TFSAdminDashboard.DataAccess.pdb"/>
        <File Id="TFSAdminDashboard.DTO.pdb"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TFSAdminDashboard.DTO.pdb"/>
        <File Id="TfsAdminDashboardConsole.pdb"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\TfsAdminDashboardConsole.pdb"/>

        <File Id="PostMan.pdb"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\PostMan.pdb"/>
        <File Id="PostMan.dll"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\PostMan.dll"/>
        
      </Component>
      <Component Id="NlogConfig" Guid="*" Permanent="yes">
        <File Id="NLog.config"  Source="..\TfsAdminDashboardConsole\bin\$(var.Configuration)\NLog.config"/>
      </Component>
      
		</ComponentGroup>
	</Fragment>
</Wix>