<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="morelinq" version="1.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.4" targetFramework="net452" />
  <package id="TFSDataService" version="1.0.9.0" targetFramework="net452" />
  <package id="Zoltu.Versioning" version="1.2.33.0" targetFramework="net452" developmentDependency="true" />
</packages>