<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Dashboard
        </div>
        <div class="panel-body">
            
        </div>
    </div>
</div>