@model TFSAdminDashboard.Models.OrganizationalOverviewModel

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            DashBoard Overview
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            Number of collections: @Model.ProjectCollectionCollection.Count();
                        </div>
                        <div class="col-md-12">
                            Number of projects: @Model.ProjectCount;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/DashBoardOverview.js"></script>
}